body {
  background-color: rgba(207, 223, 179, 0.76);
}
button {
  background-color: magenta;
  color: black;
}
#signup {
  background-color: magenta;
  color: white;
}

.mainHeader {
  color: rgb(20, 124, 20);
}
h2::first-letter {
  font-size: 40px;
}
.tag {
  background: red;
  color: white;
  font-size: 14px;
}

.post {
  color: rgb(3, 106, 170);
  font-style: italic;
}
.post a {
  color: blue;
  font-weight: bold;
}

footer a {
  color: crimson;
}

input[type="password"] {
  color: greenyellow;
}

h2 + button {
  font-size: 20px;
}
footer > a {
  color: aqua;
}

a[href="#"] {
  color: chocolate;
}
.post a:hover {
  text-decoration: underline;
}

button a:hover {
  text-decoration: underline;
}
