body {
  background-color: purple;
}

h2 {
  background-color: green;
  color: lightskyblue;
}

button {
  background-color: cyan;
  color: magenta;
}

p {
  background-color: orange;
  color: olive;
}
